- name: "Set collectd's config file destination"
  set_fact: >
    collectd_config_dest=/etc/collectd.conf
  tags:
    - collectd

- name: "Clean old packages"
  yum: >
    name={{ item }}
    state=absent
  with_items:
    - collectd-python
    - collectd-hddtemp
    - libcollectdclient
  tags:
    - collectd
    - pkgs

- name: "Install Ghettoforge repo"
  yum: >
    name=http://mirror.symnds.com/distributions/gf/el/6/gf/x86_64/gf-release-6-10.gf.el6.noarch.rpm
    state=present
  when: ansible_distribution_major_version|int == 6
  tags:
    - collectd
    - pkgs
    - repos

- name: "Install required packages"
  yum : >
    name={{ item }}
    enablerepo=epel,gf-plus
    state=latest
  with_items: packages
  when: ansible_distribution_major_version|int == 6
  tags:
    - collectd
    - pkgs

- name: "Install required packages"
  yum : >
    name={{ item }}
    enablerepo=epel
    state=latest
  with_items: packages
  when: ansible_distribution_major_version|int > 6
  tags:
    - collectd
    - pkgs

- name: "Load coretemp module on boot"
  copy: >
    src=coretemp.modules
    dest=/etc/sysconfig/modules/coretemp.modules
    owner=root
    group=root
    mode=0700
  when: monitor_coretemp and ansible_distribution_major_version|int == 6
  tags:
    - collectd
    - files

- name: "Load coretemp module on boot"
  copy: >
    content=coretemp
    dest=/etc/modules-load.d/coretemp.conf
    owner=root
    group=root
    mode=0600
  when: monitor_coretemp and ansible_distribution_major_version|int == 7
  tags:
    - collectd
    - files

- name: "Get Collectd version"
  shell: |
    executable=/bin/bash
    v=$(rpm -qa --queryformat %{version} collectd); echo "${v%.*}"
  register: collectd_version
  tags:
    - collectd
    - files

- name: "Set version"
  set_fact:
    installed_version: "{{ collectd_version.stdout }}"
  tags:
    - collectd
    - files
