{% if use_librato|bool %}
{% if (collectd_forwarder is defined and collectd_forwarder == inventory_hostname) or (collectd_forwarder is not defined) %}
LoadPlugin write_http
<Plugin write_http>
{% if installed_version|version_compare("5.4", "<=") %}
  <URL "https://collectd.librato.com/v1/measurements">
    User "{{ librato_email }}"
    Password "{{ librato_token }}"
    Format "JSON"
  </URL>
{% endif %}
{% if installed_version|version_compare("5.5", ">=") %}
  <Node "librato">
    URL "https://collectd.librato.com/v1/measurements"
    User "{{ librato_email }}"
    Password "{{ librato_token }}"
    Format "JSON"
  </Node>
{% endif %}
</Plugin>
{% endif %}
{% endif %}
