{% if collectd_forwarder != '' %}
LoadPlugin network
<Plugin network>
    {% if collectd_forward_to_logstash|bool %}
        <Server "{{ hostvars[collectd_forwarder]['private_ip']|default(hostvars[collectd_forwarder]['ansible_ssh_host']) }}" "25827">
                Interface "{{ private_interface }}"
        </Server>
        TimeToLive 128
    {% elif collectd_forwarder != inventory_hostname %}
        <Server "{{ hostvars[collectd_forwarder]['private_ip']|default(hostvars[collectd_forwarder]['ansible_ssh_host']) }}" "25826">
                Interface "{{ private_interface }}"
        </Server>
        TimeToLive 128
        {% else %}
        <Listen "0.0.0.0" "25826">
                Interface "{{ private_interface }}"
        </Listen>
        MaxPacketSize 4096
        {% endif %}
        # statistics about the network plugin itself
        ReportStats false
</Plugin>
{% endif %}
