{% if use_graphite|bool and collectd_forwarder is defined and collectd_forwarder == inventory_hostname %}
<LoadPlugin write_graphite>
    Interval     {{ graphite_interval|default('10') }}
</LoadPlugin>
<Plugin write_graphite>
  <Node "graphite">
    Host "{{ graphite_host }}"
    Port "{{ graphite_port }}"
    Protocol "udp"
    LogSendErrors true
    Prefix "collectd"
    Postfix "collectd"
    StoreRates true
    AlwaysAppendDS false
    EscapeCharacter "_"
  </Node>
</Plugin>
{% endif %}
