LoadPlugin write_http
<Plugin write_http>
  <Node "librato">
    URL "https://collectd.librato.com/v1/measurements"
    User "{{ librato_email }}"
    Password "{{ librato_token }}"
    Format "JSON"
  </Node>
</Plugin>
